In [1]:
import pandas as pd
import numpy as np

store_data = pd.read_csv("./data/store.csv")

train_data = pd.read_csv("./data/train.csv")

/Users/corstiaen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
train_data.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0

In [3]:
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [4]:
print(len(train_data))

637774

In [5]:
print(len(store_data))

1115

In [6]:
train_data.dropna(subset=["Sales"], inplace=True)

In [7]:
# drop customers, not used
train_data.drop("Customers", axis=1, inplace=True)

In [8]:
train_data.dtypes

Date              object
Store            float64
DayOfWeek        float64
Sales            float64
Open             float64
Promo            float64
StateHoliday      object
SchoolHoliday    float64
dtype: object

In [9]:
store_data.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [10]:
# removing duplicats
duped_mask = train_data.duplicated()
duplicated_data = train_data.loc[duped_mask, :]
duplicated_data

,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday
138,2013-01-01,NaN,2.0,0.0,0.0,0.0,a,1.0
178,2013-01-01,NaN,2.0,0.0,0.0,0.0,a,1.0
202,2013-01-01,NaN,2.0,0.0,0.0,0.0,a,1.0
208,2013-01-01,NaN,2.0,0.0,0.0,0.0,a,1.0
233,2013-01-01,NaN,2.0,0.0,0.0,0.0,a,1.0
...,...,...,...,...,...,...,...,...
633931,2014-07-27,NaN,7.0,0.0,0.0,0.0,0,0.0
633943,2014-07-27,NaN,7.0,0.0,0.0,0.0,0,0.0
633976,2014-07-27,NaN,7.0,0.0,0.0,0.0,0,0.0
633989,2014-07-27,NaN,7.0,0.0,0.0,0.0,0,0.0
637732,2014-07-31,NaN,4.0,13183.0,1.0,1.0,0,1.0

In [11]:
train_data.drop_duplicates(inplace=True)

In [12]:
# There's NaNs in the store ID

store_data.loc[:, "Store"].min()

1

In [13]:
train_data = train_data.fillna({"Store": 0})

In [14]:
train_data = train_data.astype({"Store": int})

In [15]:
merged_data = train_data.merge(store_data, how="left", on="Store")

In [16]:
merged_data.head()

,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115,2.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-01,379,2.0,0.0,0.0,0.0,a,1.0,d,a,6630.0,NaN,NaN,0.0,NaN,NaN,NaN
2,2013-01-01,378,2.0,0.0,0.0,0.0,a,1.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
3,2013-01-01,377,2.0,0.0,0.0,0.0,a,1.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
4,2013-01-01,376,2.0,0.0,0.0,0.0,a,1.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN

In [17]:
len(merged_data)

616026

In [18]:
from sklearn.model_selection import train_test_split

X = merged_data.loc[:, ~merged_data.columns.isin(["Sales"])]
y = merged_data.loc[:, "Sales"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=.8)

In [19]:
X_train.head()

,Date,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
231958,2013-08-04,275,7.0,0.0,0.0,0,0.0,d,a,300.0,5.0,2014.0,1.0,40.0,2014.0,"Jan,Apr,Jul,Oct"
284375,2013-09-22,287,7.0,0.0,0.0,0,0.0,c,a,2740.0,5.0,2009.0,1.0,40.0,2014.0,"Jan,Apr,Jul,Oct"
476572,2014-03-19,922,3.0,1.0,1.0,0.0,0.0,d,a,2110.0,3.0,2006.0,0.0,NaN,NaN,NaN
594375,2014-07-08,406,2.0,1.0,0.0,0,0.0,d,c,8240.0,3.0,2001.0,1.0,10.0,2013.0,"Feb,May,Aug,Nov"
417389,2014-01-23,860,4.0,1.0,1.0,0,0.0,c,c,5980.0,2.0,2010.0,0.0,NaN,NaN,NaN

In [20]:
len(X_train)

492820

In [21]:
len(X_test)

123206

In [25]:
from pandas_profiling import ProfileReport

profile = ProfileReport(X_train)
profile.to_file(output_file="rossman_profile_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/corstiaen/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:4812: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [23]:
X_train.columns

Index(['Date', 'Store', 'DayOfWeek', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

Check amount of features missing per sample. If 4 or more, meaning about 50%, try dropping entire row.

**Lilla**

    Date -> datetime
    split in year, month, week, day of week; drop the original
    make sure weekday matches weekday from date; check for missing values and impute where necessary
    encode all except year with sine+cosine! https://ianlondon.github.io/blog/encoding-cyclical-features-24hour-time/

    DayOfWeek
    drop, replace with values derived from Date

    CompetitionDistance -> float
    Try: median imputation
    Try also: KNNImputer (sklearn)

**Corstiaen**

    Store
    3 options:
    * drop
    * target encoding -> float
    * frequency encoding -> int
    test model to see what works best

    Open -> one-hot encode
    3 categories, meaning 2 one-hot columns
    
    Promo -> one-hot encode
    3 categories, meaning 2 one-hot columns
    
    StateHoliday -> one-hot encode
    5 categories, meaning 4 one-hot columns
    turn 0.0 into 0
    ['0', 0.0, 'c', nan, 'a', 'b']
    
    SchoolHoliday -> one-hot encode
    3 categories, meaning 2 one-hot columns
    
    StoreType -> one-hot encode
    5 categories, meaning 4 one-hot columns
    
    Assortment -> one-hot encode
    4 categories, meaning 3 one-hot columns
    
    
**SAM**

    CompetitionOpenSinceMonth -> new int or float
    CompetitionOpenSinceYear -> new int or float
    Merge and create new feature, giving temporal distance from 2015-07-31 or 2015-08-31
    potentially use datetime for these calculations?
    Try: median imputation
    Try also: KNNImputer (sklearn)
    
    Promo2 -> one-hot encode
    3 categories including NaN, 2 columns
    make sure all missing in other Promo2 features are described by these three categories!
    
    Promo2SinceWeek -> new int or float
    Promo2SinceYear -> new int or float
    Merge and create new feature, giving temporal distance from 2015-07-31 or 2015-08-31
    potentially use datetime for these calculations?
    imputation with any value, this is caught by the boolean from Promo2 feature
    
    PromoInterval -> one-hot encode
    3 categories, NaNs can be added to the mode category, these will again be described by the Promo2 feature

In [24]:
X_train.loc[:, "Store"].value_counts()

0      12819
379      469
195      466
465      464
939      461
       ...
977      387
275      385
46       383
430      381
279      380
Name: Store, Length: 1116, dtype: int64

In [34]:
X_train.loc[:, "SchoolHoliday"].unique()

array([ 0.,  1., nan])