In [1]:
import pandas as pd
import numpy as np

store_data = pd.read_csv("./data/store.csv")

train_data = pd.read_csv("./data/train.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
train_data.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0

In [3]:
merged_no_drop = train_data.merge(store_data, how="left", on="Store")

In [4]:
merged_no_drop.shape

(637774, 18)

In [5]:
#bmerged_data.loc[:, merged_data.isna().any()]

In [25]:
merged_data_missing = merged_no_drop[merged_no_drop.isna().any(axis=1)]
promo_merged_data_missing = merged_data_missing[merged_data_missing['PromoInterval'].isnull()]
store_and_promo = merged_data_missing[merged_data_missing['Store'].isnull()]
store_and_promo.to_csv("./data/store_and_promo.csv")

In [26]:
store_and_promo

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
136,2013-01-01,NaN,2.0,0.0,0.0,0.0,0.0,a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2013-01-01,NaN,2.0,0.0,0.0,0.0,0.0,a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,2013-01-01,NaN,2.0,0.0,0.0,0.0,0.0,a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,2013-01-01,NaN,2.0,NaN,0.0,0.0,0.0,a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2013-01-01,NaN,2.0,0.0,0.0,0.0,0.0,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637707,2014-07-31,NaN,4.0,7619.0,625.0,1.0,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637708,2014-07-31,NaN,NaN,7801.0,758.0,1.0,1.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637722,2014-07-31,NaN,4.0,10468.0,1137.0,1.0,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637732,2014-07-31,NaN,4.0,13183.0,1964.0,1.0,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637763,2014-07-31,NaN,4.0,9486.0,NaN,1.0,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

merged_data.lo
[:, merged_data.isna().any()]

In [ ]:
print(len(train_data))

In [ ]:
print(len(store_data))

In [ ]:
train_data.dropna(subset=["Sales"], inplace=True)

In [ ]:
# drop customers, not used
train_data.drop("Customers", axis=1, inplace=True)

In [ ]:
train_data.dtypes

In [ ]:
store_data.dtypes

In [ ]:
# removing duplicats
duped_mask = train_data.duplicated()
duplicated_data = train_data.loc[duped_mask, :]
duplicated_data

In [ ]:
train_data.drop_duplicates(inplace=True)

In [ ]:
# There's NaNs in the store ID

store_data.loc[:, "Store"].min()

In [ ]:
train_data = train_data.fillna({"Store": 0})

In [ ]:
train_data = train_data.astype({"Store": int})

In [ ]:
merged_data = train_data.merge(store_data, how="left", on="Store")

In [ ]:
merged_data.head()

In [ ]:
len(merged_data)

In [ ]:
from sklearn.model_selection import train_test_split

X = merged_data.loc[:, ~merged_data.columns.isin(["Sales"])]
y = merged_data.loc[:, "Sales"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=.8)

In [ ]:
X_train.head()

In [ ]:
len(X_train)

In [ ]:
len(X_test)

In [ ]:
# from pandas_profiling import ProfileReport

# profile = ProfileReport(X_train)
# profile.to_file(output_file="rossman_profile_report.html")

In [ ]:
X_train.columns

Check amount of features missing per sample. If 4 or more, meaning about 50%, try dropping entire row.

**Lilla**

    Date -> datetime
    split in year, month, week, day of week; drop the original
    make sure weekday matches weekday from date; check for missing values and impute where necessary
    encode all except year with sine+cosine! https://ianlondon.github.io/blog/encoding-cyclical-features-24hour-time/

    DayOfWeek
    drop, replace with values derived from Date

    CompetitionDistance -> float
    Try: median imputation
    Try also: KNNImputer (sklearn)

**Corstiaen**

    Store
    3 options:
    * drop
    * target encoding -> float
    * frequency encoding -> int
    test model to see what works best

    Open -> one-hot encode
    3 categories, meaning 2 one-hot columns
    
    Promo -> one-hot encode
    3 categories, meaning 2 one-hot columns
    
    StateHoliday -> one-hot encode
    5 categories, meaning 4 one-hot columns
    turn 0.0 into 0
    ['0', 0.0, 'c', nan, 'a', 'b']
    
    SchoolHoliday -> one-hot encode
    3 categories, meaning 2 one-hot columns
    
    StoreType -> one-hot encode
    5 categories, meaning 4 one-hot columns
    
    Assortment -> one-hot encode
    4 categories, meaning 3 one-hot columns
    
    
**SAM**

    CompetitionOpenSinceMonth -> new int or float
    CompetitionOpenSinceYear -> new int or float
    Merge and create new feature, giving temporal distance from 2015-07-31 or 2015-08-31
    potentially use datetime for these calculations?
    Try: median imputation
    Try also: KNNImputer (sklearn)
    
    Promo2 -> one-hot encode
    3 categories including NaN, 2 columns
    make sure all missing in other Promo2 features are described by these three categories!
    
    Promo2SinceWeek -> new int or float
    Promo2SinceYear -> new int or float
    Merge and create new feature, giving temporal distance from 2015-07-31 or 2015-08-31
    potentially use datetime for these calculations?
    imputation with any value, this is caught by the boolean from Promo2 feature
    
    PromoInterval -> one-hot encode
    3 categories, NaNs can be added to the mode category, these will again be described by the Promo2 feature

In [ ]:
X_train.loc[:, "Store"].value_counts()

In [ ]:
X_train.loc[:, "SchoolHoliday"].unique()

In [ ]:
def date_cleaning(X_train):
    """this function splits the Date column into Year, Month, Day of the week and adds it's sin/cos features
    """
    # change to datetime
    X_train.loc[:,"Date"] = pd.to_datetime(X_train.loc[:,"Date"])
    
    # helper function
    def encode(X_train, col, max_val):
        X_train[col + '_sin'] = np.sin(2 * np.pi * X_train[col]/max_val)
        X_train[col + '_cos'] = np.cos(2 * np.pi * X_train[col]/max_val)
        return X_train
    
    # datetime split in year, month, week, day of week and adding sin/cos
    X_train["Year"] = pd.DatetimeIndex(X_train.loc[:,"Date"]).year
    X_train["Month"] = pd.DatetimeIndex(X_train.loc[:,"Date"]).month
    X_train = encode(X_train, "Month", 12)
    X_train["Day_of_the_week"] = X_train.loc[:,"Date"].dt.dayofweek
    X_train = encode(X_train, "Day_of_the_week", 365)

    #ready to drop DayofWeek and Date
    drop_columns = ["DayOfWeek", "Date"]
    X_train.drop(drop_columns, axis=1, inplace=True)
    
    return X_train

In [ ]:
X_train = date_cleaning(X_train)

In [ ]:
X_train

In [ ]:
X_train.StateHoliday.value_counts()

In [ ]:
#X_train['StateHoliday'] = X_train['StateHoliday'].map({0.0: 0})
#X_train.StateHoliday.replace(to_replace=dict(0.0==0), inplace=True)
X_train.StateHoliday.replace([0.0], [0], inplace=True)
                
# change to int
X_train['StateHoliday'] = X_train['StateHoliday'].astype(int)

In [ ]:
X_train.loc[:, "StateHoliday"].value_counts()

In [ ]:
X_train["StateHoliday"].dtype()

In [ ]:
# CompetitionDistance -> float and median imputation
X_train.loc[:, "CompetitionDistance"] = X_train.loc[:, "CompetitionDistance"].astype(float).fillna((X_train.loc[:, "CompetitionDistance"].median()))

Open -> one-hot encode
3 categories, meaning 2 one-hot columns

Promo -> one-hot encode
3 categories, meaning 2 one-hot columns

StateHoliday -> one-hot encode
5 categories, meaning 4 one-hot columns
turn 0.0 into 0
['0', 0.0, 'c', nan, 'a', 'b']

SchoolHoliday -> one-hot encode
3 categories, meaning 2 one-hot columns

StoreType -> one-hot encode
5 categories, meaning 4 one-hot columns

Assortment -> one-hot encode
4 categories, meaning 3 one-hot columns

In [ ]:
# take the missing values in each category and fill them in with an additional category 
#X_train[X_train.iloc[:, "Open"]=="NaN"]
X_train = X_train.fillna({"Open": 2, "Promo": 2, "SchoolHoliday": 2,})

In [ ]:
### Pipelines

In [ ]:
from sklearn.preprocessing import OneHotEncoder
cat_encoder = OneHotEncoder()
airbnb_cat_hot_encoded = cat_encoder.fit_transform(airbnb_cat)
airbnb_cat_hot_encoded

In [ ]:
from sklearn.pipeline import Pipeline

num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('add_variables', NewVariablesAdder()),
    ('std_scaler', StandardScaler())
])

num_transformed = num_pipeline.fit_transform(airbnb_num)

In [ ]:
from sklearn.compose import ColumnTransformer

data_pipeline = ColumnTransformer([
    ('numerical', num_pipeline, num_vars),
    ('categorical', OneHotEncoder(), cat_vars),
    
])

airbnb_processed = data_pipeline.fit_transform(airbnb_data)